/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2016, 9:47:15 PM
    Author     : Alex
*/

.navButton {
    background-color: red;
}

#services {
    width: 100%;
    height: 100%;
}

#tableDiv {
    left: 50%;
    right: 50%;
}